@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #fffbf2;
  overflow-y: hidden;
}

.button-base {
  padding: 10px 32px 10px 32px;
}

.anim {
  transition: all 1s ease;
}

.text-transition {
  transition: all 0.5s ease;
}
